@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.open > .dropdown-menu {
    margin-left: 10px;
}

/*   ============
    | LOGIN FORM |
     ============ */
#loginForm input[type='password'], #loginForm input[type='email']  {
    width: 175px;
}
#loginForm input[type='password'] {
    margin-right: 10px;
}
#loginForm a {
    margin-left: 10px;
}
#captcha > ul {
    list-style: none;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #55484a;
    padding: 10px;
    margin: 15px 0 20px 0;
    border-radius: 4px;
}
#captcha input {
    margin-top: 10px;
}
.upload {
    float: right;
    margin: -50px 15px 0 0;
}

/*   ===========
    |  GALLERY  |
     =========== */
#gallery .thumbnail {
    width: 160px;
    height: 160px;
}
#gallery img {
    width: 150px;
    height: 150px;
}
#gallery figcaption {
    background: #F8F8F8;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, 0.1);
    margin-bottom: 50px;
    width: 160px;
}
#gallery figcaption p {
    margin-bottom: -15px;
    text-align: center;
}
#gallery figcaption hr {
    margin-bottom: -1px;
}
#gallery figcaption ul {
    list-style: none;
}
#gallery figcaption li {
    display: inline-block;
    margin-bottom: -10px;
}
#gallery figcaption li:first-child {
    margin-left: -25px;
    margin-right: 10px;
}
.pagination {
    text-align: center;
}
#form {
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    width:300px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #FCFCFC;
    padding: 10px;
}
#form h2 {
    color: #5E5E64;
    text-align: center;
}
#btn-return {
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 180px;
}
.modal-content {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.upload-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
input[type="file"] {
    cursor: pointer;
    margin-bottom: 30px;
    font: "Helvetica Neue",Helvetica,Arial,"sans-serif";
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
input[type="file"]:before {
    content: 'Select your image';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
input[type="file"]:focus {
    outline: none !important;
}
